-f /usr/share/pip-wheels
certifi==2018.10.15
chardet==3.0.4
Click==7.0
dparse==0.5.1
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==18.0
pyparsing==2.2.2
PyYAML==5.4
requests==2.22.0
safety==1.8.7
six==1.11.0
urllib3==1.26.5
Werkzeug==0.15.5
WTForms==2.2.1
