<html>
<head>
<script src="/static/d3.v3.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="/static/default.css" />
<title>
	SeeCollections
</title>	
</head>
<body>
<div id="maindiv">
	<h1>
		SeeCollections
	</h1>
	<form autocomplete="off" action="{{ url_for('index') }}" method="post">
			<div class="form-group">
			<h4>
					<p>Search the <span class="form-element">{{ form.college(class="btn btn-outline-secondary dropdown-toggle") }}</span> collection for books on <span class="form-element" type="text">{{ form.keyword(id="kw", class="btn btn-outline-secondary", placeholder="Keywords") }}</span> and show where they appear by <span class="form-element">{{ form.facet(class="btn btn-outline-secondary dropdown-toggle") }}</span> <input type="submit" value="Try it now!" class="btn btn-large btn-success form-element" id="submitbutton">
					</p>

			</h4>
			</div>
	</form>
	<div id="error">{{ error_message|safe }}</div>
</div>
<div id="datadiv" data-dee3="{{ final_data }}"></div>
<script src="/static/default.js"></script>
</body>
</html>
