<!DOCTYPE HTML>
<html>
<head>
	<script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/landing.css">
	<script type="text/javascript" src="../static/landing.js">
	</script>
</head>
<body>
<div class="container-fluid">
	<form action="/submit" method="POST" id="formsubmit">
		<div id="overlay" class="row vertical-align">
			<div id="overlay-message" class="form-group text-center center-block form-inline">
				<h3 style="margin-top:-3px">
					Please select your campus:<br>
					<select id="campus-select" name="campus" class="form-control">
						<option value="{'BB': 'Baruch'}">Baruch</option>
						<option value="{'BM': 'BMCC'}">BMCC</option>
						<option value="{'BX': 'Bronx CC'}">Bronx CC</option>
						<option value="{'BC': 'Brooklyn College'}">Brooklyn College</option>
						<option value="{'CC': 'City College'}">City College</option>
						<option value="{'SI': 'CSI'}">CSI</option>
						<option value="{'GC': 'Graduate Center'}">Graduate Center</option>
						<option value="{'GJ': 'School of Journalism'}">School of Journalism</option>
						<option value="{'CL': 'School of Law'}">School of Law</option>
						<option value="{'NC': 'Guttman'}">Guttman</option>
						<option value="{'HO': 'Hostos'}">Hostos</option>
						<option value="{'HC': 'Hunter'}">Hunter</option>
						<option value="{'JJ': 'John Jay'}">John Jay</option>
						<option value="{'KB': 'Kingsborough'}">Kingsborough</option>
						<option value="{'LG': 'LaGuardia'}">LaGuardia</option>
						<option value="{'LE': 'Lehman'}">Lehman</option>
						<option value="{'ME': 'Medgar Evers'}">Medgar Evers</option>
						<option value="{'NY': 'City Tech'}">City Tech</option>
						<option value="{'QC': 'Queens College'}">Queens College</option>
						<option value="{'QB': 'Queensborough'}">Queensborough</option>
						<option value="{'YC': 'York'}">York</option>
					</select>
					<input id="close-overlay" value="Select" class="btn btn-default active" type="button">
				</h3>
			</div>
		</div>
		<div class="form-group form-inline">
			<h3>
				<p>This utility will let you discover where books are in the <span id="campus-display">Baruch</span> collection:<br></p>
				<p style="margin-top:-7px">
					<input type="text" name="query" placeholder="Search these terms" value="{{ val|safe }}" required />
					and show where they appear by 
					<select name="type" class="form-control">
						<option value="lcc" checked>Library of Congress Classification</option>
						<option value="date">Publication Year</option>
						<option value="topic">Topic (top level LC Subject Heading)</option>
					</select>
					<input type="submit" value="Search" class="btn btn-default active">
				</p>
			</h3>
		</div>
	</form>
	<div id="message" style="margin-top:-10px"></div>
</div>
<script>
	if ({{ errordata|safe }} === 1) {
		$( "#message" ).append( "<div class='alert alert-danger' role='alert'>Terms not found, please try again.</div>" );
	}
	else if ({{ errordata|safe }} === 2) {
		$( "#message" ).append( "<div class='alert alert-danger' role='alert'>Invalid characters in your search string. Use only A-Z and space.</div>" );
	}
	else if ({{ errordata|safe }} === 3) {
		$( "#message" ).append( "<div class='alert alert-danger' role='alert'>Error with form submission. Please try again.</div>" );
	}
	else if ({{ errordata|safe }} === 4) {
		$( "#message" ).append( "<div class='alert alert-danger' role='alert'>Your search phrase is too long. Max 200 characters.</div>" );
	}
	else {};
</script>
</body>
</html>
